#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  height: 49px;
  width: auto;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  color: #5b8ac8;
  display: inline-block;
  font-family: "proxima-nova", Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  line-height: 49px;
  padding: 0 20px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul {
  float: left;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li > a {
  color: #5b8ac8;
  text-transform:uppercase;
  font-size: 15px;
  font-weight:600;
}


.topmenu .current-menu-parent {
 border-bottom:2px solid #5b8ac8;
color:#5b8ac8;
}


#cssmenu > ul > li.active {
 border-bottom:2px solid #5b8ac8;

}

#cssmenu > ul > li.active > a {

color:#5b8ac8;

}
#cssmenu > ul > li:hover > a {

color:#333;
   -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;


}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
	border:1px solid #e0e0e0;
  left: 0;
background:#f0f0f0;
padding:5px;
-webkit-box-shadow: 0px 0px 60px -19px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 0px 60px -19px rgba(0,0,0,0.48);
box-shadow: 0px 0px 60px -19px rgba(0,0,0,0.48);
}



#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: #f0f0f0;
  border-bottom: 1px dotted #31b7f1;
  filter: none;
  font-size: 14px;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #333;
}
#cssmenu .has-sub ul li:hover a {
  background:#5b8ac8;
  color:#fff;
 -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;

}
#cssmenu .has-sub .has-sub ul li a {
background:#f0f0f0;
color:#333;
  border-bottom: 1px dotted #31b7f1;
}
#cssmenu .has-sub .has-sub ul li a:hover {
color:#fff;
  background:#5b8ac8;
}